head {
	color: red;
	font-size: 20px;
	font-family: Helvetica;
}

body {
	color: rgb(120, 120, 120);  /* medium grey */
	font-size: 20px;
	font-family: Helvetica;
	margin: 0px;
	text-align: center;
	text-decoration: none;
	font-weight: lighter;
}

/*a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
  margin-top: 300px;
}*/





/* comment */

li {
	display: inline;
	margin:20px;
	color: white;
	font-size:18px;
}

li:hover, li:active {
  background-color: grey;
} 

/*body {
  background-image: url("image/banner.jpg");
}*/

.banner {
  	/*background-image: url('https://image.unsplash.com/photo-1543791946-ef3afd7acd4b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2516&q=80');*/
  	background-image: url('../image/banner.jpg');  

  	height: 100vh; 
	background-size: cover;
	opacity:0.8;    
	
}


.right 
{
  background-color: none;
  color: black;
  padding: 14px 25px;
  text-align: right;
  text-decoration: none;
  margin-top: ;
}

.logo img{
	width: 80px;
	height: 80px;
	margin: 10px;
}

.picto1
{
	width: 35px;
	height: 35px;
}

.overlay
{
	background: rgba(0, 0, 0, 0.8);
	box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.25);
	border-radius: 15px;

}
.noir{
  background-color: black;
  opacity: 0.5px;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey; /* horizontal-shift vertical-shift blur color */
  margin-top: 200px;
  opacity: 0.8;
}


.rouge {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey; /* horizontal-shift vertical-shift blur color */
  margin-top: 200px;
}

.rouge:hover {
  background-color: red;
} 

.bottom{
	text-align: left;
	margin-top: 240px;
	size: 10%;
}


.social{
	width: 100px;
	height: 30px;
}

.navbar{
	display: flex;
	justify-content: space-between;
}